.grid {
    display: grid;
    gap: $spacing-unit;
  
    &--two-columns {
      grid-template-columns: repeat(2, 1fr);
    }
  
    &--three-columns {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  